@font-face {
		font-family: 'Vazir';
		src: url('../fonts/Vazir.eot'),
		url('../fonts/Vazir.ttf') format('truetype'),
		url('../fonts/Vazir.woff') format('woff'),
		url('../fonts/Vazir.woff2') format('woff2')
}

@font-face {
		font-family: 'Vazir';
		font-weight: bold;
		src: url('../fonts/Vazir-Bold.eot'),
		url('../fonts/Vazir-Bold.ttf') format('truetype'),
		url('../fonts/Vazir-Bold.woff') format('woff'),
		url('../fonts/Vazir-Bold.woff2') format('woff2')
}

* {
 font-size: 100%;
 font-family: Vazir, Tahoma, Ubuntu, sans-serif, serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
