@font-face {
		font-family: 'Vazir';
		src: url('/fonts/Vazir.eot'),
		url('/fonts/Vazir.ttf') format('truetype'),
		url('/fonts/Vazir.woff') format('woff'),
		url('/fonts/Vazir.woff2') format('woff2')
}

@font-face {
		font-family: 'Vazir';
		font-weight: bold;
		src: url('/fonts/Vazir-Bold.eot'),
		url('/fonts/Vazir-Bold.ttf') format('truetype'),
		url('/fonts/Vazir-Bold.woff') format('woff'),
		url('/fonts/Vazir-Bold.woff2') format('woff2')
}

* {
 font-size: 100%;
 font-family: Vazir, Tahoma, Ubuntu, sans-serif, serif;
}

html, body, body * {
		direction: rtl;
}

html, body {
		background: rgb(40, 40, 40);
}

html, body {
		padding: 0;
		margin: 0;
}

#search-bar {
		background: dimgray;
		padding: 10px;
		width: calc(100% - 20px);
		border-bottom: 2px solid gray;
}

#results {
		height: 100%;
		overflow: hidden;
}

.nothing {
		color: rgb(255, 128, 128);
		text-align: center;
		font-size: 200%;
}

div#search-bar {
		text-align: center;
}

input#chars {
		width: 50%;
}

ul#results li {
		background: rgb(0, 100, 0);
		color: white;
		font-size: 200%;
		display: inline-block;
		margin: 0.1em;
		padding-left: .2em;
		padding-right: .2em;
		padding-top: .1em;
		padding-bottom: .1em;
		border-radius: 10%;
		border: 1px solid rgb(0, 150, 0);
}

ul#results {
		list-style-type: none;
		text-align: center;
		padding: 0;
}
